# System files and hidden directories
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/

# Log files
logs/
*.log

# Models saved by PyTorch
saved_models/*.pth

# Dataset files (if you want to download them dynamically)
data/celeba/
data/WIDERFace/

# ZIP files if downloaded manually
*.zip
